* {
    margin: 0;
    padding: 0;
}

.container {
     width: 100%;
     min-height: 100vh;
     background: rgb(250, 240, 240);
}

.game-page.hidden {
    display: none;
}

.game-page {
    display: block;
}

.items-container {
    margin:50px auto;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
}

.items-container .tic-item {
    border: none;
    border-radius: 5px;
    background: #555555;

}

.items-container .tic-item:hover {
    scale: 1.1;
    
}

/* START PAGE */

.start-page.hidden {
    display: none;
}

.start-page {
    display: block;
}

/* RESULT PAGE */

.results-page.hidden {
    display: none;
}

.results-page {
    display: block;
    width: 100%;
    min-height: 100%;
}